.pic {
    display: flex;
    justify-content: space-around;
    float: left;
    padding: 20px
}

.pic2 {
    display: flex;
    justify-content: space-around;
    float: left;
    padding: 20px
}

.pic3 {
    display: flex;
    justify-content: space-around;
    float: left;
    padding: 20px
}